html {
  font-size: 62.5%;
}

body {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  background: linear-gradient(301.23deg, #0cb98d 0%, #15d48a 100%);
}

h1 {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0ebd7e;
}

ul {
  padding: 0;
  list-style: none;
}

.main {
  margin: 0 auto;
  padding: 3rem;
  max-width: 90rem;
  background: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 2.4rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  display: none;
  width: 1.6rem;
  height: 1.6rem;
}

.icon-select {
  background-image: url("./assets/plus.svg");
  transition: all 0.5s ease-in;
}

.meme-label {
  cursor: pointer;
}

.meme-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
  font-feature-settings: "pnum" on, "lnum" on;
}

.list-item:active {
  opacity: 0.7;
}

.list-item:active .meme-label .input-title .meme-title {
  color: blue;
}

.list-item:active .meme-label .input-title .icon-select {
  /* TODO: replace with needed color svg */
  background-image: url("./assets/plus.svg");
}

.accordion .meme-label .meme-title {
  color: #ffffff;
}

.input-title {
  background: linear-gradient(301.23deg, #0cb98d 0%, #15d48a 100%);
}

.accordion:hover .meme-label .meme-title {
  color: #0ebd8d;
}

.accordion:hover .input-title {
  background: #ffffff;
  border: 0.1rem solid #0ebd8d;
  border-radius: 4rem;
}

.accordion:hover .meme-label .icon {
  display: block;
}

.input-title {
  padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 4rem;
}

.meme-input {
  display: none;
}

.fig {
  margin: 0 auto;
  height: 0;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.meme-input:hover ~ .fig {
  padding: 3rem 0;
  height: 100%;
}

.meme-input:hover ~ .input-title .icon-select {
  transform: rotate(45deg);
}

.meme-input:checked ~ .fig {
  padding: 3rem 0;
  height: 100%;
}

.meme-input:checked ~ .input-title .icon-select {
  transform: rotate(45deg);
}

.meme-input:checked ~ .input-title .meme-title {
  color: #0ebd8d;
}

.list-item label .meme-input:checked ~ .input-title {
  background: #ffffff;
  border: 0.1rem solid #0ebd8d;
  border-radius: 4rem;
}
