body {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  background: linear-gradient(301.23deg, #0cb98d 0%, #15d48a 100%);
}

h1 {
  margin: 10px 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0ebd7e;
}

ul {
  padding: 0;
  list-style: none;
}

.main {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  display: none;
  width: 16px;
  height: 16px;
}

.icon-select {
  background-image: url("./assets/plus.svg");
  transition: all 0.5s ease-in;
}

.meme-label {
  cursor: pointer;
}

.meme-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.list-item:active {
  opacity: 0.7;
}

.list-item:active .meme-label .input-title .meme-title {
  color: blue;
}

.list-item:active .meme-label .input-title .icon-select {
  /* TODO: replace with needed color svg */
  background-image: url("./assets/plus.svg");
}

.accordion .meme-label .meme-title {
  color: #ffffff;
}

.input-title {
  background: linear-gradient(301.23deg, #0cb98d 0%, #15d48a 100%);
}

.accordion:hover .meme-label .meme-title {
  color: #0ebd8d;
}

.accordion:hover .input-title {
  background: #ffffff;
  border: 1px solid #0ebd8d;
  border-radius: 40px;
}

.accordion:hover .meme-label .icon {
  display: block;
}

.input-title {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 40px;
}

.meme-input {
  display: none;
}

.fig {
  margin: 0 auto;
  height: 0px;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.meme-input:hover ~ .fig {
  padding: 30px 0;
  height: 100%;
}

.meme-input:hover ~ .input-title .icon-select {
  transform: rotate(45deg);
}

.meme-input:checked ~ .fig {
  padding: 30px 0;
  height: 100%;
}

.meme-input:checked ~ .input-title .icon-select {
  transform: rotate(45deg);
}

.meme-input:checked ~ .input-title .meme-title {
  color: #0ebd8d;
}

.list-item label .meme-input:checked ~ .input-title {
  background: #ffffff;
  border: 1px solid #0ebd8d;
  border-radius: 40px;
}
